@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    background-color: gray;
}


.header {
    height: 5px;
    // background-color: grey;
}
.container {
    padding: 20px 20px 20px 20px;
    flex: 1;
}

p {
    &.footer {
        font-size: 16px;
        font-weight: lighter;
        flex: 1 1 auto;
        text-align: left;
    }
}

h1 {
    &.title {
        font-weight: 300 !important;
        font-size: 40px !important;
        flex: 1 1 auto;
        text-align: center;
        letter-spacing: 3px;
    }
}

.fill-space {
    flex: 1 1 auto;
}

// span {
//     &.color {
//         color: mat-color($accent);
//     }
// }

a {
    color: black;
    cursor: pointer;
}

// a:hover {
//     color: darken($color:mat-color($accent), $amount: 20);
// }

.content {
    padding: 1rem;
    //background: darken($color: #fff, $amount: 5);
    border-radius: 1rem;

    h2 {
        font-weight: 300 !important;
        font-size: 30px !important;
        letter-spacing: 3px;
    }
}
